[user]
	name = cnweibo
	email = matiascx@163.com
[core]
	autocrlf = true
	filemode = false
[color]
	ui = auto
[alias]
	lg = log --oneline --decorate --all --graph
	s = status -s
	a = add
	r = reset
	ci = commit -m
	r1 = reset HEAD~1
	co = checkout
	dev = checkout develop
	master = checkout master
	rs = remote show
	fl = flow feature list
        fstart = flow feature start
	ffinish = flow feature finish
	fon = flow feature checkout 
	fdel = flow feature delete
	showf = show --pretty=format: --name-only
	conflicts = diff --name-only --diff-filter=U
	checkignore = check-ignore -v
	branchstatus = branch -vv -a 
	filterauthor = log --author
	filtercommit = log --oneline --grep
	showfilehistory = log --follow
	changedby = blame -w 
	fhistory = log --
	faddedat = log --diff-filter=A --
	checkupdate = remote show
	ignoretracked = update-index --assume-unchanged
	unignoretracked = update-index --no-assume-unchanged
	checkignoretracked = ls-files -v|grep '^h'
	alias = config --get-regexp alias
	dw = diff --word-diff --cache
[push]
	default = simple
[pull]
        rebase = true
[rerere]
	enabled = true
[merge "ours"]
	driver = true
