[user]
	name = cnweibo
	email = matiascx@163.com
[core]
	autocrlf = true
	filemode = false
[color]
	ui = auto
[alias]
	lg = log --oneline --decorate --all --graph
	s = status -v
	a = add
	r = reset
	ci = commit -m
	r1 = reset HEAD~1
	co = checkout
	dev = checkout develop
	master = checkout master
	rs = remote show
	fl = flow feature list
        fstart = flow feature start
	ffinish = flow feature finish
	fon = flow feature checkout 
	fdel = flow feature delete
	showf = show --pretty=format: --name-only
[push]
	default = matching
