[user]
	name = cnweibo
        email = matiascx@163.com
[color]
	ui = auto
[alias]
	lg = log --oneline --decorate --all --graph
	s = status -v
	a = add
	r = reset
	ci = commit -m
	r1 = reset HEAD~1
	co = checkout
	rs = remote show
	showf = show --pretty=format: --name-only
[push]
	default = matching
